<div class="groups bg-raisinBlack w-screen h-screen flex flex-col items-center pl-12 gap-12">
    <input type="text" placeholder="Cerca una room" name="" id=""
        class="search w-[55ch] mt-8 bg-transparent border border-floralWhite rounded-md p-2 text-floralWhite">
    <div
        class="rooms-container flex flex-row w-full pl-12 flex-wrap items-center justify-center gap-8 text-floralWhite">
        <div class="card w-1/5 border border-floralWhite rounded-lg relative">
            <div class="card-header h-32 border-b border-floralWhite">
                <img src="" alt="">
            </div>
            <div class="card-inner">
                <div class="card-title text-xl">Gruppo 1</div>
                <div class="filter-corso opacity-80">Informatica</div>
                <div class="filter-materia opacity-80">Progettazione di Algoritmi</div>
                <div class="card-bottom flex flex-row justify-between items-end px-2 py-2">
                    <div class="card-people text-sm opacity-60">+10 persone</div>
                    <button
                        class="card-buttonborder border rounded-full px-6 py-[.10rem] bg-celadronBlue">Unisciti</button>
                </div>
            </div>
        </div>
        <div class="card w-1/5 border border-floralWhite rounded-lg relative">
            <div class="card-header h-32 border-b border-floralWhite">
                <img src="" alt="">
            </div>
            <div class="card-inner">
                <div class="card-title text-xl">Gruppo 1</div>
                <div class="filter-corso opacity-80">Informatica</div>
                <div class="filter-materia opacity-80">Progettazione di Algoritmi</div>
                <div class="card-bottom flex flex-row justify-between items-end px-2 py-2">
                    <div class="card-people text-sm opacity-60">+10 persone</div>
                    <button
                        class="card-buttonborder border rounded-full px-6 py-[.10rem] bg-celadronBlue">Unisciti</button>
                </div>
            </div>
        </div>
        <div class="card w-1/5 border border-floralWhite rounded-lg relative">
            <div class="card-header h-32 border-b border-floralWhite">
                <img src="" alt="">
            </div>
            <div class="card-inner">
                <div class="card-title text-xl">Gruppo 1</div>
                <div class="filter-corso opacity-80">Informatica</div>
                <div class="filter-materia opacity-80">Progettazione di Algoritmi</div>
                <div class="card-bottom flex flex-row justify-between items-end px-2 py-2">
                    <div class="card-people text-sm opacity-60">+10 persone</div>
                    <button
                        class="card-buttonborder border rounded-full px-6 py-[.10rem] bg-celadronBlue">Unisciti</button>
                </div>
            </div>
        </div>
        <div class="card w-1/5 border border-floralWhite rounded-lg relative">
            <div class="card-header h-32 border-b border-floralWhite">
                <img src="" alt="">
            </div>
            <div class="card-inner">
                <div class="card-title text-xl">Gruppo 1</div>
                <div class="filter-corso opacity-80">Informatica</div>
                <div class="filter-materia opacity-80">Progettazione di Algoritmi</div>
                <div class="card-bottom flex flex-row justify-between items-end px-2 py-2">
                    <div class="card-people text-sm opacity-60">+10 persone</div>
                    <button
                        class="card-buttonborder border rounded-full px-6 py-[.10rem] bg-celadronBlue">Unisciti</button>
                </div>
            </div>
        </div>
        <div class="card w-1/5 border border-floralWhite rounded-lg relative">
            <div class="card-header h-32 border-b border-floralWhite">
                <img src="" alt="">
            </div>
            <div class="card-inner">
                <div class="card-title text-xl">Gruppo 1</div>
                <div class="filter-corso opacity-80">Informatica</div>
                <div class="filter-materia opacity-80">Progettazione di Algoritmi</div>
                <div class="card-bottom flex flex-row justify-between items-end px-2 py-2">
                    <div class="card-people text-sm opacity-60">+10 persone</div>
                    <button
                        class="card-buttonborder border rounded-full px-6 py-[.10rem] bg-celadronBlue">Unisciti</button>
                </div>
            </div>
        </div>
        <div class="card w-1/5 border border-floralWhite rounded-lg relative">
            <div class="card-header h-32 border-b border-floralWhite">
                <img src="" alt="">
            </div>
            <div class="card-inner">
                <div class="card-title text-xl">Gruppo 1</div>
                <div class="filter-corso opacity-80">Informatica</div>
                <div class="filter-materia opacity-80">Progettazione di Algoritmi</div>
                <div class="card-bottom flex flex-row justify-between items-end px-2 py-2">
                    <div class="card-people text-sm opacity-60">+10 persone</div>
                    <button
                        class="card-buttonborder border rounded-full px-6 py-[.10rem] bg-celadronBlue">Unisciti</button>
                </div>
            </div>
        </div>
        <div class="card w-1/5 border border-floralWhite rounded-lg relative">
            <div class="card-header h-32 border-b border-floralWhite">
                <img src="" alt="">
            </div>
            <div class="card-inner">
                <div class="card-title text-xl">Gruppo 1</div>
                <div class="filter-corso opacity-80">Informatica</div>
                <div class="filter-materia opacity-80">Progettazione di Algoritmi</div>
                <div class="card-bottom flex flex-row justify-between items-end px-2 py-2">
                    <div class="card-people text-sm opacity-60">+10 persone</div>
                    <button
                        class="card-buttonborder border rounded-full px-6 py-[.10rem] bg-celadronBlue">Unisciti</button>
                </div>
            </div>
        </div>
    </div>
</div>