<div class="user-area pl-12 flex flex-col h-screen bg-raisinBlack text-floralWhite">
    <div class="user-side bg-eerieBlack flex flex-col gap-4 items-center w-max p-6">
        <div class="user-pfp z-20">
            <img [src]="userPfp" alt="" class="w-40 rounded-full">
        </div>
        <div class="user-info h-screen">
        <p class="user-name text-lg">Emanuele Ragozzini</p>
        <p class="mb-12">Informatica</p>
        <div class="mail-container flex flex-row gap-2">
            <img class="w-6 invert" [src]="mailIcon" alt=""><p>cazzituoi@libero.it</p>
        </div>
        <div class="password-container flex flex-row gap-2">
            <img class="inline-block invert" [src]="passwIcon" alt=""><p class="">Password: ********</p>
        </div>
        
    </div>    
    </div>
    
</div>