.icon-fill {
    filter: invert(50%);
}

.icon-fill.opened {
    filter: invert(100%);
}

li.opened::after
{
    content: "";
    width: .25rem;
    height: 1.2rem;
    position: absolute;
    background-color: white;
    right: -.8rem;
    top: .3rem;
}

.user.active
{
    width: 16rem;
    background-color: white;
    border: 1px solid hsla(260, 6%, 10%, .5);
    border-radius: 100px;
    padding-right: .2rem;
}
.user.active .userName,
.user.active .logOut
{
    display: block;
    opacity: 1;
}


