.icon-fill {
    filter: invert(50%);
}

.icon-fill.opened {
    filter: invert(100%);
}

li.opened::after
{
    content: "";
    width: .25rem;
    height: 1.2rem;
    position: absolute;
    background-color: white;
    right: -.8rem;
    top: .3rem;
}