<div class="side-nav flex flex-col gap-4 fixed top-0 left-0 w-12 h-screen bg-eerieBlack rounded-3xl">
    <img src="" alt="" class="logo">
    <div class="nav-menu flex flex-col">
        <!-- Home/chatprivate-amici/gruppi/impostazioni -->
        <ul class="nav-list flex flex-col gap-4 mx-3">
            <li class="w-6 relative opened">
                <a href="javascript:void(0)">
                    <img [src]="homeIcon" alt="" class="icon-fill nav-items opened">
                </a>
            </li>
            <li class="w-6 relative">
                <a href="javascript:void(0)">
                    <img [src]="chatIcon" alt="" class="icon-fill nav-items">
                </a>
            </li>
            <li>Gruppi</li>
            <li class="w-6 relative">
                <a href="javascript:void(0)">
                    <img [src]="settingsIcon" alt="" class="icon-fill nav-items">
                </a>
            </li>
        </ul>
    </div>
    <div class="user w-6 border rounded-full border-white">
        <img [src]="" alt="" class="user-img">
    </div>
</div>