<div class="home pl-16 pt-2 flex flex-col justify-center h-screen bg-eerieBlack">
    <div class="join-zone flex flex-col items-center gap-11 text-floralWhite">
        <div class="join-text self-center">
            <h1 class="text-xl">Sembra che tu non ti sia unito a nessuna room.</h1>
            <h1 class="text-center text-xl">
            <span class="text-carolinaBlue font-semibold font-serif">Creane una</span> o 
            <span class="text-carolinaBlue font-semibold font-serif">unisciti</span> a quelle esistenti.</h1>
        </div>
        <div class="join-buttons flex flex-row gap-20">
            <button class="px-10 py-6 border border-floralWhite bg-eerieBlack rounded-2xl transition-all duration-300 hover:invert hover:scale-110">
                <img [src]="newIcon" class="w-16 border-2 bg-black border-black rounded-full p-2 invert mb-3" alt="">
                Crea
            </button>
            <button class="px-10 py-6 border border-floralWhite bg-eerieBlack rounded-2xl transition-all duration-300 hover:invert hover:scale-110">
                <img [src]="joinIcon" class="w-16 invert mb-3" alt="">
                Unisciti
            </button>
        </div>
    </div>
</div>