<div class="frame w-screen h-4">
    <div class="winBar fixed">
        <div class="window-commands flex flex-row gap-2 relative right-0">
            <button id="minimize" class="px-2 hover:bg-slate-100"><img class="w-3" src="{{minimizePath}}"
                    alt=""></button>
            <button id="maximize" class="px-2 hover:bg-slate-300"><img class="w-3" src="{{miniMaxiPath}}"
                    alt=""></button>
            <button id="close" class="px-2 hover:bg-red-500"><img class="w-4" src="{{closePath}}" alt=""></button>
        </div>
    </div>